# Credential folder
.creds
ssh-keys/*

# IDE
.idea

# Terraform stuffs
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

# Ansible stuffs
**/*.retry
**/ansible/roles/*

# keep .gitkeep
!**/.gitkeep
