# Credential folder
.creds
ssh-keys/*

# IDE
.idea

# Terraform stuffs
**/provider.tf
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info

# Ansible stuffs
**/*.retry
**/ansible/roles/*

# Node stuffs
**/node_modules

# Keep .gitkeep
!**/.gitkeep
